@model List<Flower>

    @if (Model== null || Model.Count == 0)
{
    <h2>No Active Purchase </h2>

}
else
{
    foreach (var flower in Model)
    {
        <div onclick="getFlower('Flower.Id')" class="row table-bordered flower-card">
            <div class="col-6 table-primary">
               Flower: @flower.FlowerName
            </div> 
            <div class="col-6">
               Flower: @flower.FlowerFamily
            </div> 
            <div class="col-6">
               Flower: @flower.Quantity
            </div> 
            <div class="col-6">
               Flower: @flower.ShippingAddress
            </div> 
            <div class="col-6">
               Flower: @flower.ShippingDate
            </div> 
        </div>
    }
}

<script>
    const getFlower = (id) => {
        window.location = `/Home/GetFlower/${id}`
    }
</script>
    