@model List<Flower>

    @if (Model== null || Model.Count == 0)
{
    <h2>No Active Purchase </h2>

}
else
{
    foreach (var flower in Model)
    {
        <div onclick="getFlower('@flower.Id')" class="row table-bordered">
            <div class="col-12 table-primary">
               Flower Name: @flower.FlowerName
            </div> 
            <div class="col-12">
               Flower Family: @flower.FlowerFamily
            </div> 
            <div class="col-12">
               Flower Quantity: @flower.Quantity
            </div> 
            <div class="col-12">
               Shipping Address: @flower.ShippingAddress
            </div> 
            <div class="col-12">
               Shipping Date: @flower.ShippingDate
            </div> 
        </div>
    }
}

<script>
    const getFlower = (id) => {
        window.location = `/Home/GetFlower/${id}`
    }
</script>
    